.top_header {
  min-height: 44px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}
nav {
  height: 92px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}
.nav-item {
  font: {
    family: Poppins;
    style: normal;
    weight: 600;
    size: 14px;
  }
  padding: 0 6.5px;

  button {
    border-radius: 50px;
    padding: 0 10px !important;
  }
}
